body {
    padding-top: 50px;
    background: #f6f6f6;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}
.notify-area {
    margin-top: 15px;
}

.notify-area .alert{
    margin-bottom: 5px !important;
}

a {
    text-decoration:none !important;
}

a:hover {
    color: blue;
}

table, th, td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #999;
    padding: 3px 5px;
    min-width: 50px;
    height: 20px;
}
/**
 * 导航栏
 */
.navbar-front {
    border-radius: 0 !important;
}

.navbar-fixed-top {
    border-bottom: 0;
}

.navbar-nav .active a {
    background: #5cb85c !important;
    border-color: #5cb85c !important;
}

.navbar .progress {
    margin-bottom: 0 !important;
    height: 5px;
}

.front-login-user-avatar {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.front-login-user-info {
    height: 50px !important;
    overflow: hidden;
}
.front-login-user-info span {
    color: #9d9d9d;
    display: inline-block;
    margin-left: 10px;
}
.front-login-user-info a {
    margin-left: -5px;
    display: inline-block !important;
}

.login-form-div {
    text-align: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.login-form button {
    margin-top: 15px;
    width: 100%;
}

.login-message span{
    margin: 0 !important;
}

.oauth-login-notification {
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
}

.widget-login {
    width: 90%;
    margin: 15px auto 0;
}

.widgets {
    margin-top: 10px;
}

.widgets div {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.widget-github, .widget-github a {
    color: #262626;
}

.widget-weibo, .widget-weibo a {
    color: #E40015;
}

.widget-google, .widget-google a {
    color: #4482fb;
}

.widget-qq, .widget-qq a {
    color: #1386E0;
}

/**
 * 页面主体及footer
 */
.body, .footer {
    margin-bottom: 20px;
}

/**
 * 页面主体左右侧样式
 */
.main-container {
    padding: 10px;
}

/**
 * 页面主体具体的模块样式
 */
.module {
    background: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 3px 20px;
}

.no-articles h2{
    margin-left: 20px;
    margin-bottom: 20px !important;
}
.contents-body {
    padding: 20px 30px;
}

.index-article-content-thumb {
    text-indent:2em;
}

@media screen and (max-width: 1024px) {
    .index-articles-body .col-md-4 {
        display: none;
    }
    .index-articles-body .col-md-8 {
        width: 100% !important;
    }
}
@media screen and (min-width: 1024px){
    .index-article-thumb-container {
        /*line-height: 150px;*/
        width: 200px;
        height: 150px;
        overflow:hidden;
        position: relative;
    }
    .index-article-thumb-container p {
        display:none;
        color: white;
        left:0;
        top:60px;
        width:100%;
        z-index:200;
        position:absolute;
        font-size:20px;
        text-align:center;
        cursor:pointer;
    }
    .index-article-thumb-container .cornerLeft, .cornerRight {
        position:absolute;
        z-index:100;
        background-color:#959595;
        height:200px;
        cursor:pointer;
    }

    .index-article-thumb-container .cornerTop, .cornerBottom {
        position:absolute;
        z-index:100;
        background-color:#959595;
        width:300px;
        cursor:pointer;
    }

    .index-article-thumb-container .cornerLeft {
        left: 0;
        top: -20px;
    }
    .index-article-thumb-container .cornerRight {
        right: 0;
        top: -20px;
    }
    .index-article-thumb-container .cornerTop {
        /*left: 0;*/
        top: 0;
    }
    .index-article-thumb-container .cornerBottom {
        /*right: 0;*/
        bottom: 0;
    }
}

.index-article-thumb {
    height: 150px;
    width: 200px;
}

.index-articles-content {
    height: 128px;
    overflow: hidden;
}

/**
 * 右侧文章标签
 */
.article-tags {
    padding-bottom: 8px;
}

.article-tag {
    margin: 3px 1px;
}

/**
 * 最近评论
 */
.index-comment-avatar {
    position: absolute;
    left: 25px;
    height: 40px;
    width: 40px;
}

.recent-comment > .comment-main > ul > li {
    list-style: none;
    margin-left: 10px;
    font-size: 13px;
    color: #555;
    overflow: hidden;
}

/**
 * 右侧搜索全站
 */
.search-article {
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-article-input {
    width: 73% !important;
}

.search-article-submit {
    width: 25%;
}

/**
 * 回到顶部按钮样式
 */
.toTop {
    position:fixed;
    bottom: 30px;
    right: 30px;
    background: #4db4d7;
    padding: 10px 15px;
    border-radius: 10px;
}

.toTop > .fa {
    color: #ffffff;
}

.toTop:hover {
    cursor: pointer;
}
/**
 * 回到顶部动画效果
 */
.animation-in{
    animation: 0.5s animation-in 0s;
    animation-fill-mode: forwards;
    -webkit-animation: 0.5s animation-in 0s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: 0.5s animation-in 0s;
    -moz-animation-fill-mode: forwards;
}
@keyframes animation-in{
    0% {opacity: 0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    90% {opacity: 0.9;}
    100% {opacity: 1;}
}
@-webkit-keyframes animation-in{
    0% {opacity: 0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    90% {opacity: 0.9;}
    100% {opacity: 1;}
}
@-moz-keyframes animation-in{
    0% {opacity: 0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    90% {opacity: 0.9;}
    100% {opacity: 1;}
}

.animation-out{
    animation: 0.5s animation-out 0s;
    animation-fill-mode: forwards;
    -webkit-animation: 0.5s animation-out 0s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: 0.5s animation-out 0s;
    -moz-animation-fill-mode: forwards;

}
@keyframes animation-out{
    0% {opacity: 1;}
    10% {opacity: 0.9;}
    20% {opacity: 0.8;}
    30% {opacity: 0.7;}
    40% {opacity: 0.6;}
    50% {opacity: 0.5;}
    60% {opacity: 0.4;}
    70% {opacity: 0.3;}
    80% {opacity: 0.2;}
    90% {opacity: 0.1;}
    100% {opacity: 0;}
}
@-webkit-keyframes animation-out{
    0% {opacity: 1;}
    10% {opacity: 0.9;}
    20% {opacity: 0.8;}
    30% {opacity: 0.7;}
    40% {opacity: 0.6;}
    50% {opacity: 0.5;}
    60% {opacity: 0.4;}
    70% {opacity: 0.3;}
    80% {opacity: 0.2;}
    90% {opacity: 0.1;}
    100% {opacity: 0;}
}
@-moz-keyframes animation-out{
    0% {opacity: 1;}
    10% {opacity: 0.9;}
    20% {opacity: 0.8;}
    30% {opacity: 0.7;}
    40% {opacity: 0.6;}
    50% {opacity: 0.5;}
    60% {opacity: 0.4;}
    70% {opacity: 0.3;}
    80% {opacity: 0.2;}
    90% {opacity: 0.1;}
    100% {opacity: 0;}
}

.article-pagination {
    text-align: center;
}

/**
 * 文章详情页
 */
.article-detail h2{
   text-align: center;
}

/**
 * 发布评论区域
 */
.comments-module {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 50px;
}

.comment-submit-module {
    padding: 40px 50px 0 !important;
}

.comment-not-login {
    text-align: center;
    line-height: 130px;
    font-weight: bold;
    font-size: 24px;
}

.comment-submit textarea{
    height: 150px !important;
}

.comment-submit-user-info {
    display: inline-block;
}

.comment-submit-user-info ul{
    margin-bottom: 0;
}

.comment-submit-user-avatar {
    height: 46px;
    width: 46px;
    position: absolute;
    left: 45px;
}

.comment-submit-user-nickname {
    display: inline-block;
    margin-left: 55px;
    height: 46px;
    line-height: 46px;
}

.comment-submit-user-not-login {
    display: inline-block;
    height: 46px;
    line-height: 46px;
}

.comments-info {
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
    height: 20px;
}

.child-comment-submit-module {
    padding: 5px 20px 0 15px !important;
}

.comments-list {
    border-top: 3px solid #5cb85c;
    padding: 0 35px !important;
    min-height: 20px;
}

.user-comment {
    border-bottom: 1px solid #c1cad1;
    margin-left: -20px;
    margin-right: -20px;
}

.user-comment ul {
    margin-top: 10px;
    margin-left: 10px;
}

.user-comment ul li {
    list-style: none;
}

.user-comment ul li a{
    display: inline-block;
    margin-left: 5px;
}

.children-comment {
    margin-left: 50px;
}

.children-comment .article-comment-avatar {
    left: 75px;
}

.comment-submit-button button{
    margin-left: 10px;
}

.child-comment-host {
    color: orangered;
    font-weight: bold;
}

.article-comment-avatar {
    position: absolute;
    left: 25px;
    height: 40px;
    width: 40px;
}
/**
 * footer 版权信息、声明等
 */
.copyright-content {
    margin: 20px 0 20px;
}

.copyright-content p {
    text-indent: 2em;
    color: red;
    font-weight: bold;
}

/**
 * 关联邮箱页面
 */
.user-bind-page-header {
    text-align: center;
    height:80px;
}

.user-bind-page-body {
    padding: 30px 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.must-be-input {
    font-weight: bold;
    color: red;
}

.user-bind-page-submit {
    margin-top: 15px;
}

.response-close-button {
    text-align:  center;
    margin-top: 30px;
}
.response-close-button button {
    width: 30%;
}