body {
    padding-top: 50px;
    background: #f6f6f6;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}
.notify-area {
    margin-top: 15px;
}

.notify-area .alert{
    margin-bottom: 5px !important;
}

a {
    text-decoration:none !important;
}

a:hover {
    color: blue;
}

.content-list {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.content-list {
    width: 95%;
}
/*@media (min-width: 838px)  {*/
    /*.content-list {*/
        /*width: 750px;*/
    /*}*/
/*}*/

/*@media (min-width: 1162px) {*/
    /*.content-list {*/
        /*width: 970px;*/
    /*}*/
/*}*/

/*@media (min-width: 1370px) {*/
    /*.content-list {*/
        /*width: 1170px;*/
    /*}*/
/*}*/

th, td {
    text-align: center !important;
}

.notify-area {
    margin-bottom: 20px;
}
/**
 * 头部导航栏
 */
.backend-nav {
    background: #2a394d;
}

.navbar-back {
    border-radius: 0 !important;
}

.navbar-fixed-top {
    border-bottom: 0;
}

.navbar-nav .active a {
    background: #171f2f !important;
    border-color: #171f2f !important;
}

.navbar .progress {
    margin-bottom: 0 !important;
    height: 5px;
}

.backend-title {
    color: whitesmoke !important;
    text-align: center;
    min-width: 170px;
}

.back-login-user-avatar {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.back-login-user-info {
    height: 50px !important;
    overflow: hidden;
}

.back-login-user-info span {
    color: #9d9d9d;
    display: inline-block;
    margin-left: 10px;
}

.back-login-user-info a{
    margin-left: -5px;
    display: inline-block !important;
    padding: 15px 10px !important;
}

/**
 * 后台左侧菜单
 */
.backend-sidebars {
    border-right: 2px solid #9d9d9d;
    overflow-y:auto;
    background: #f6f6f6;
    height: 100%;
    width: 170px;
    display: inline-block;
    position: absolute;
}

.backend-content {
    width: 100%;
    padding-left: 170px;
    background: white;
    display: inline-block;
    word-break:break-all;
}

.backend-sidebars ul {
    padding-left: 0;
}

.backend-sidebars ul li {
    list-style: none;
    line-height: 35px;
    font-size: 15px;
    height: 35px;
    padding-left: 15px;
    border-top: 2px solid #9d9d9d;
    font-weight: bold;
}

.backend-sidebars ul li:first-child {
    border-top: 0 !important;
}

.backend-sidebars ul li:hover {
    background: #3195FF !important;
}

.backend-sidebars ul li a{
    color: #333;
}

.submenus {
    border-top: 1px solid #9d9d9d !important;
    padding-left: 30px !important;
    background: white;
    font-weight: normal !important;
}

.submenu-active {
    border-left: 5px solid #3195FF;
    padding-left: 25px !important;
}
/**
 * 后台首页
 */
.welcome-page {
    margin: 50px 45px;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

/**
 * 文章列表
 */
.article-publish-time {
    width: 150px !important;
}

.edit-action a {
    display: inline-block;
    margin: 0 2px;
}

.stick-article {
    font-weight: bold;
}

.stickArticleWeightForm {
    padding: 20px 40px;
}

.stickArticleErrorMessage {
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
    margin-top: 20px;
}

/**
 * 发布／编辑文章
 */
.submit-buttons .btn {
    width: 100px;
    margin-right: 30px;
    margin-left: 30px;
}

.submit-buttons {
    margin-bottom: 50px;
}

.button-right-errors-bag {
    margin-left: 25px;
}